@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
/* ===== Sidebar Scrollbar (No Arrows) ===== */

.sidebar-scroll::-webkit-scrollbar {
  width: 6px;
}

/* REMOVE top & bottom arrows */
.sidebar-scroll::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

/* Track */
.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb */
.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: #3f3f46; /* neutral-700 */
  border-radius: 9999px;
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #52525b; /* neutral-600 */
}

/* Firefox */
.sidebar-scroll {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 transparent;
}
